:root {
    --primaryTextColor: #2d4a5e;
    --secondaryTextColor: #656d72;
    --borderColor: #4d5f81;

    --lineColor: #d9d9d9;

    --primaryBackgroundColor: rgb(32, 27, 36);
    --secondarydBackgroundColor: #1c1c22;
    --thirdBackgroundColor: rgb(21, 18, 24)e;

    --primaryIconColor: #433aa7;
    --primaryIconColorHover: #5d51e8;

    --sectionPadding: 6rem 0;

    --itemBorderRadius: 0.7rem;
}
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1d1d23
}

body {
    font-family: sans-serif;
}

h1,h2,h3,h4,h5,h6, strong {
    color: var(--primaryTextColor);
}

p {
    font-size: 1rem;
    line-height: 1.9rem;
}

p, span, label, input, textarea, li {
    color: var(--secondaryTextColor);
}

a {
    text-decoration: none;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 90%;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.section-title {
    margin: 1rem 0 4rem;
    font-size: 2rem;
}

.pre-title {
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: var(--secondaryTextColor);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: .9rem;
}

.pre-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background-color: var(--lineColor);
    position: absolute;
    display: block;
    left: 0;
    top: 40%;
}


.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a {
    color: var(--primaryTextColor);
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: var(--primaryTextColor);
}

.burger div {
    width: 18px;
    height: 4px;
    background-color: black;
    margin: 1px;
    transition: all .3s;
    z-index: 99;
}

.burger {
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}


#hero {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.loraine img {
    border-radius: 20%;

}

.hero-name {
    font-size: 3rem;
    font-weight: 700;
    margin: .5rem 0 1rem;
}

.hero-name span {
    color: var(--primaryIconColor);
}

.hero-right img {
    width: 80%;

}

.hero-right {
    display: flex;
    justify-content: center;
}

.services main-container {
    display: flex;
}

#services {
    background-color: var(--secondarydBackgroundColor);
    padding: var(--sectionPadding);
}

.service-title .pre-title{
    margin: 0 auto;
}

.service-title{
    text-align: center;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

.service {
    padding: 3rem 2rem;
    text-align: center;
    background: var(--primaryBackgroundColor);
    border-radius: var(--itemBorderRadius);
}


.service h4 {
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.service-icon {
    background: var(--thirdBackgroundColor);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: .5rem;

}

.service img {
    fill: var(--primaryIconColor);
}

.portfolios {
    padding: var(--sectionPadding);
}

.portfolio {
    border-radius: var(--itemBorderRadius);
    overflow: hidden;
}

.portfolio-cover {
    height: 250px;
}

.portfolio-cover img {
    height: 180px;
    width: 700px;
    object-fit: cover;
    border-radius: 5px;
}

.portfolio-info {
    padding: 2rem 1.5rem;
}

.portfolio h4 {
    font-weight: 500;
    font-size: 1.05rem;
}

#skills {
    padding: var(--sectionPadding);
   background: var(--secondarydBackgroundColor);
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 3rem;
}

.tool {
    display: flex;
    gap: 3rem;
}

.tool .line {
    padding: 0 0.7rem;
}

.tool .line div {
    width: 2px;
    height: 100%;
    background: var(--borderColor);
    position: relative;
}

.tool-info {
    margin: .6rem 0 1.4rem;
}

#contact {
    padding: var(--sectionPadding);
}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.contact-form div {
    margin-bottom: 1.4rem;
}

.contact-form input .contact-form textarea {
    width: 100%;
    padding: .75rem 1.3rem;
    font-family: sans-serif;
    background: var(--secondaryTextColor);
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    resize: none;
}

.contact-form  input::placeholder, .contact-form textarea::placeholder {
    color: #9d9fa1;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 1px solid #7d7d7d;
}

.btn-submit {
    width: 100%;
    padding: .75rem 1.3rem;
    background-color: var(--primaryIconColor);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease-in-out;
}

.btn-submit:hover {
    background: var(--primaryIconColorHover);
}